Enforce consistant storage formats for Objects and enforce KMIP 2.1 default export formats

The KMIP 2.1 specification states that keys have a default Key Format Type that SHALL be produced by KMIP servers.
When requesting the export of an Object without specifying the Key Format Type, a default Key Format Type by object (and algorithm) should be used as listed in the following table:

| Type | Default Key Format Type |
|------|-------------------------|
| Certificate | X.509 |
| Certificate Request | PKCS#10 |
| Opaque Object | Opaque |
| PGP Key | Raw |
| Secret Data | Raw |
| Symmetric Key | Raw |
| Split Key | Raw |
| RSA Private Key | PKCS#1 |
| RSA Public Key | PKCS#1 |
| EC Private Key | Transparent EC Private Key |
| EC Public Key | Transparent EC Public Key |
| DSA Private Key | Transparent DSA Private Key |
| DSA Public Key | Transparent DSA Public Key |

The current version does not enforce these defaults.

Some of these formats need to be updated, and the IETF recommends using PKCS#8 and Subject Public Key Info. 
So, even though this server enforces default export formats, the storage formats will be updated to use:
 - `PKCS#8 DER` for RSA and EC private Keys (RFC 5208 and 5958)
 - `SPKI DER` (RFC 5480) for RSA and EC public keys
 - `X509 DER` for certificates (RFC 5280)
 - `PKCS#10 DER` for certificate requests (RFC 2986)
 - `TransparentSymmetricKey` for symmetric keys
 - `Raw` for opaque objects and Secret Data

Users requesting keys will be encouraged to request them in the storage formats above to avoid conversion.

See https://github.com/Cosmian/kms/pull/75 for certificates
The rest is tackled as part of https://github.com/Cosmian/kms/issues/71

This issue can be closed when #101 is merged